@import "tailwindcss";
@import "@nuxt/ui";
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&display=swap");

@theme {
  --font-sans: 'Archivo', 'Manrope', sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased text-default bg-default scheme-dark;
  }
}

:root {
  --ui-radius: 0.125rem;
  --ui-bg: #000000;
}

.dark {
  --ui-bg: #000000;
}
